:root {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;

}

.header_container {
    margin-top: -7.7rem;
}

.header_rect {
    width: 100%;
    height: 117px;
    background-color: #F8F4FC;
    margin: 0 auto;
}

.header_box {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    margin-top: 11px;
    margin-right: 6rem;
}

.header_nav {
    list-style-type: none;
    padding-right: 6.4rem;
    padding-inline-start: 0px;
    display: flex;
}

.header_nav>a {
    text-decoration: none;
    color: #354657;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 3.5rem;
}

.header_icons {
    display: flex;

}

.icons {
    margin-left: 2.5rem;
}

.header_nav_pages {
    display: flex;
    margin-top: 0.6rem;
}

.header_nav_pages a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway';
    color: #626262;
}

.pages_arrow {
    margin-right: 0.7rem;
}

.pages_text {
    margin-right: 0.7rem;
}

.main_title {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: #354657;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 1.2rem;
    margin-top: 5rem;
}

.enter {
    background-color: #F0F2F5;
    width: 30%;
    padding-top: 1.4rem;
    margin-top: 2.8rem;
}

.enter_content {
    margin-left: 1.4rem;
}

.form_text {
    font-size: 20px;
    font-weight: 700;
    color: #354657;
}

label {
    color: #354657;
    font-weight: 400;
    font-size: 16px;
}

form.enter > input {
    margin-top: 1.5rem;
}

.enter_reg_content > input.reg {
    margin-left: 1.4rem;
    
}
.enter_reg_content > input {
    accent-color: #946FD3;
    margin-bottom: 2.1rem;
    margin-top: 1.5rem;
}

input.reg {
    padding-left: 1.4rem;
}

.personal_info {
    background-color: #F0F2F5;
    width: 30%;
    padding-top: 1.4rem;
    margin-top: 2.1rem;
    font-size: 14px;
    font-weight: 400;
}

.personal_content {
    margin-left: 1.4rem;
    font-size: 14px;
    font-weight: 400;
}

label.text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway';
}

.info_content {
    margin-top: 2.1rem;
}

.info_content > input {
    padding-left: 1.4rem;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway';
    width: 87%;
    border: 1px solid #B6B6B6;
    margin-top: 0.7rem;
    margin-bottom: 1.4rem;
    height: 34px;
}

input.text {
    margin-top: 0.7rem;
}

input::placeholder{
    font-size: 14px;
    font-weight: 400;
    font-family: Raleway;
    color: #ADA8A8;
}

.top_form_box {
    display: flex;
    justify-content: space-between;
    
}

.delivery {
    background-color: #F0F2F5;
    width: 67%;
    padding-top: 1.4rem;
    margin-top: 2.8rem;
}

.delivery_content > input {
    accent-color: #946FD3;
    margin-bottom: 2.1rem;
    margin-top: 1.4rem;
}

.center_form_box {
    display: flex;
    justify-content: space-between;
}


.pay {
    background-color: #F0F2F5;
    
    padding-top: 1.4rem;
    margin-top: 2.1rem;
    height: fit-content;
    display: flex;
}

.pay_content {
    accent-color: #946FD3;
    margin-bottom: 2.1rem;
    margin-top: 1.4rem;
    display: flex;
}

.bottom_title {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway';
    color: #354657;
    margin-top: 2.1rem;
}

.main_form_box {
    width: 67%;
}

.good-menu {
    display: grid;
	grid-template-columns: .9fr 1.1fr 1fr 1.3fr 1fr;
	align-items: center;
    margin-top: 1rem;
    
}

.menu-header {
    font-weight: 700;
	background-color: #F0F2F5;
    padding: 1rem 1.5rem;
}

.empty_box {
	grid-row-start: 3;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 4;
}

.img_left {
    margin-left: 1.4rem;
}

.amount {
    margin-top: 0.4rem;
}

.price {
    padding: 1.4rem 0rem;
}

.price-back {
    background-color: #FAFAFA;
}

.bottom_form {
    width: 95.5%;
    background-color: #F0F2F5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 30px;
}

.bottom_form textarea {
	font-family: 'Raleway', sans-serif;
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

#comment {
	width: 99%;
}

.ad_comment {
    font-size: 14px;
    padding-top: 1rem;
}

.agree {
    padding-top: 1rem;
	font-size: 16px;
}

.form_text_1 {
    font-size: 20px;
    font-weight: 700;
    color: #354657;
    margin-bottom: 1rem;
}

.pay_btn {
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}

.btn {
	background-color: #946FD3;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-radius: 50px;
	width: 206px;
	padding: 20px 20px;
	border: none;
	margin: 30px 0px;
}

.agree_input {
    accent-color: #946FD3;
}

.footer_rect {
    width: 100%;
    height: 6.9rem;
    border-top: 1px solid #E2E2E2;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer_nav {
    list-style-type: none;
    margin-left: 6.4rem;
    padding-inline-start: 0px;
    display: flex;
}

.footer_nav>a {
    text-decoration: none;
    color: #354657;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 2.8rem;
}

.footer_icons {
    display: flex;

}
.icons_1 {
    margin-left: 1.2rem;
}

.footer {
    display: flex;
    align-items: center;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.3rem;
}