.container {
    min-width: 600px;
    max-width: 1920px;
    margin: 0 auto;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.research_rect {
    width: 500px;
    height: 50px;
    border: 2px solid #323232;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #A1A1A1;
    display: flex;
    box-sizing: border-box;
    margin-left: 100px;
    margin-top: 14px;
}

.rect_icon {
    margin-left: 15px;
    margin-top: 13px;
}

.rect_text {
    margin-left: 12.62px;
    margin-top: 14px;
}

.header_btn_1 {
    width: 98px;
    height: 50px;
    background-color: #EF781A;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    margin-left: 314px;
    margin-top: 14px;
}

.header_btn_2 {
    width: 98px;
    height: 50px;
    background-color: #00D008;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 14px;
}

 .header {
     padding-top: 11px;
     display: flex;
     width: 63.5%;
     margin: 0 auto;
     justify-content: center;
     min-width: 600px;
     max-width: 1920px;

 }

 .line {
    width: 100%;
    border-bottom: 2px solid #C4C4C4;
    margin: 0 auto;
    margin-top: 12px;
 }

 .add {
     display: flex;
     justify-content: center;
 }
 .add_background {
     width: 1218px;
     height: 380px;
     border-radius: 10px;
     background-color: #FFD086;
     margin: 0 auto;
     margin-top: 35px;
     position: relative;
 }

 .add_title {
     font-weight: 800;
     font-size: 36px;
     font-family: 'Montserrat';
     font-style: normal;
     position: absolute;
     margin-left: 60px;
     margin-top: 111px;
 }

 .add_text {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    position: absolute;
    margin-left: 60px;
    margin-top: 224px;
 }

 .add_image {
    margin-left: 627.91px;
 }

 .rest_box {
     display: flex;
     justify-content: center;

 }

 .restaurants_title {

    font-weight: 700;
    font-size: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 35px;
 }

 .main {
    min-width: 600px;
    max-width: 1920px;
    margin: 0 auto;
 }
 
 .restaurants_research_rect {
    width: 500px;
    height: 50px;
    border: 2px solid #FFFFFF; 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #A1A1A1;
    display: flex;
    box-sizing: border-box;
    margin-top: 32px;
    margin-left: 509px;
 }
 .research_rect_icon {
    margin-top: 13px;
    margin-left: 10px;
 }

 .research_rect_text {
     margin-left: 10px;
     margin-top: 15px;
 }

 .rest_cards {
    width: 63%;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 33px;
 }

 .card_rect{
     width: 386px;
     height: 92px;
     background-color: white;
     display: flex;
     position: absolute;
     margin-top: -94px;
     box-sizing: border-box;
     border-radius: 0px 0px 10px 10px;
 }

 .card_title {
     font-weight: 600;
     font-size: 24px;
     font-family: 'Montserrat';
     font-style: normal;
     margin-top: 10px;
     margin-left: 20px;
 }

 .card {
     position: relative;
     border-radius: 0px 0px 10px 10px;
     filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
 }

 .card_btn_time {
     width: 108px;
     height: 30px;
     background-color: #FE7D34;
     border-radius: 5px;
     font-weight: 600;
     font-size: 14px;
     display: flex;
     align-items: center;
     margin-top: 53px;
     margin-left: 20px;
     position: absolute;
 }

 .card_btn_time > img {
     margin-left: 6.86px;
 }

 .time_text {
     margin-left: 7.86px;
 }

 .card_btn_price {
     width: 89px;
     height: 30px;
     background-color: #00D008;
     border-radius: 5px;
     font-weight: 600;
     font-size: 14px;
     display: flex;
     align-items: center;
     margin-top: 53px;
     margin-left: 146px;
     position: absolute;

 }
 
 .card_btn_price > img {
    margin-left: 4px;
}

.price_text {
    margin-left: 5px;
}
     
.card_btn_price_1 {
    width: 95px;
    height: 30px;
    background-color: #00D008;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 53px;
    margin-left: 146px;
    position: absolute;
}

.card_btn_price_1 > img {
    margin-left: 4px;
}

.popular {
    width: 139px;
    height: 39px;
    background-color: #FF800C;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    font-style: normal;
    position: absolute;
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    padding-top: 11px;
    box-sizing: border-box;
    margin-top: -225px;
    margin-left: 10px;
}

.delivery {
    width: 167px;
    height: 56px;
    background-color: #FF0C0C;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    font-style: normal;
    position: absolute;
    font-family: 'Montserrat';
    color: white;
    text-align: left;
    padding-top: 11px;
    padding-left: 21px;
    box-sizing: border-box;
    margin-top: -225px;
    margin-left: 10px;
}

.gift {
    width: 236px;
    height: 39px;
    background-color: #FF0000;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    font-style: normal;
    position: absolute;
    font-family: 'Montserrat';
    color: white;
    text-align: left;
    padding-top: 11px;
    padding-left: 21px;
    box-sizing: border-box;
    margin-top: -225px;
    margin-left: 10px;
}

.container_1 {

    position: relative;
    width: 63%;
    margin: 0 auto;
}
.shop {
    font-weight: 700;
    font-size: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 30px;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 33px;
}

.shop_box {
    width: 63%;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 33px;
}

.footer {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
}
.footer_rect {
    margin-top: 100px;
    width: 1920px;
    height: 117px;
    background-color: #F8F4FC;
}

.container_2 {
    width: 70%;
    margin: 0 auto;
    padding-top: 11px;
}

.footer_logo {
    display: inline-block;

}

.footer_menu {
    display: inline-block;

}

ul {
    position: absolute;
    margin-top: -39px;
}
li {
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    color: #354657;
    display: inline-block;
    margin-left: 50px;

}

.footer_icons {
    display: inline-block;
    margin-left: 908px;
    margin-top: 29px;
    position: absolute;
}

.icons_loupa {
    display: inline-block;
    margin-left: 12px;
}

.icons_user {
    display: inline-block;
    margin-left: 12px;
}

.icons_bag {
    display: inline-block;
    margin-left: 12px;
}

.footer_nav {
    display: flex;
    margin-left: 2px;
    margin-top: 16px;
}

.icon_arrow {
    margin-left: 10px;
}

.nav_page > a {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-decoration-line: underline;
}

.nav_page {
    margin-left: 10px;
}