body {
    font-family: 'AdobeInvisFont';
    font-size: 18px;
    color: #2C2C2C;
}

.container {
    width: 1480px;
    height: 1282px;
    background-color: white;
    margin: 0 auto;
}

.image {
    display: inline-block;
    margin-top: 61px;
    margin-left: 101px;
}

.menu {
    width: 1283px;
    height: 72px;
    background-color: #35444F;
    margin: 0 auto;
    margin-top: 48px;
    margin-left: 98px;
}

figure.menu_fp {
    width: 327px;
    height: 72px;
    background-color: #35444F;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 252px;
    margin-top: -72px;

}

.menu_fp:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

figure.menu_ramda {
    width: 153px;
    height: 72px;
    background-color: #35444F;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 583px;
    margin-top: -96px;
}

.menu_ramda:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

figure.menu_fls {
    width: 266px;
    height: 72px;
    background-color: #35444F;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 739px;
    margin-top: -96px;
}

.menu_fls:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

figure.menu_nfa {
    width: 219px;
    height: 72px;
    background-color: #35444F;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1008px;
    margin-top: -96px;
}

.menu_nfa:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

ul.top_list {
    display: inline-block;
    position:absolute;
    outline: 1px #35444F solid;
    margin-top: 50px;
    margin-left: 99px;
    padding-left: 0rem;
    list-style-type: none;
    
}

ul.top_list > li {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 83px;
    color: #485863;
    background: white;
}

ul.top_list > li > a {
    color: #485863;
    text-decoration: none;
      display:inline-block;
      padding: 0px 9px 0px 38px;
}
ul.top_list > li:hover {
    background-color: #DBDBDB;
    color: #000000;
}

ul.top_list > li > a:hover {
    padding-left: 76px;
    color: #000000;
}

.image_2 {
    width: 885px;
    height: 529px;
    border: 1px #35444F solid;
    margin-left: 493px;
    margin-top: 74px;
}

.fig {
    display: inline-block;
    margin: 72px 282px;
}

.text {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    width: 815px;
    margin-top: 47px;
    margin-left: 524px;
    color: #2C2C2C;

}

.text_2 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    width: 815px;
    margin-top: 35px;
    margin-left: 524px;
    color: #2C2C2C;
}

.bottom {
    width: 1280px;
    height: 69px;
    background-color: #B4B7BA;
    margin: 0 auto;
    margin-top: 32px;
}

ul.bottom_list {
    display: flex;
    margin-top: 31px;
    margin-left: 16px;
    padding-left: 0rem;
    list-style-type: none;
    font-size: 28px;
    color: #0C1927;
}

ul.bottom_list > li > a {
    color: #0C1927;
    text-decoration: none;
    display:block;
    padding: 19px 0px 0px 25px;
}

ul.bottom_list > li > a:hover {
    color: #3181A6;
    text-decoration: underline;
}

.copyright {
    font-size: 24px;
    color: #010101;
    margin-top: -46px;
    margin-left: 1170px;
}

