.body {
    font-family: 'Adobe Invis Font';
    font-size: 18px;
    color: white;
}

.container {

    min-width: 600px;
    max-width: 1366px;
    height: 768px;
    background-image: url(/Lesson5/images/фон.jpg);
    margin: 0 auto;
}

.header {
    display: flex;
    width: 76.8%;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    justify-content: space-between;
    padding-top: 49px;
}

.header_info {
    text-align: right;
}

.main {
    width: 76.8%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 62px;
    margin-top: 44px;
}

.card_title {
    text-align: center;
    margin-top: 15px;
    font-family: 'Adobe Invis Font';
    font-size: 18px;
    color: white;
}

.footer_text {
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    background-image: url(/Lesson5/images/Logo@1X.png);
    width: 166px;
    height: 44px;
}

.logo:hover {
    background-image: url(/Lesson5/images/LogoHover@1X.png);
    width: 166px;
    height: 44px;

}

.image_price {
    width: 308px;
    height: 63px;
    background-color: #F26522;
    position: absolute;
    margin-top: -67px;
    display: none;
    
}

.image_price_from {
    color: white;
    font-size: 10px;
    position: absolute;
    margin-left: 21px;
    margin-top: 16px;

}

.image_price_50 {
    color: white;
    font-size: 20px;
    position: absolute;
    margin-left: 21px;
    margin-top: 31px;
}

.image_price_details {
    color: white;
    font-size: 14px;
    position: absolute;
    margin-top: 35px;
    margin-left: 185px;
}

.icon {
    background-image: url(/Lesson5/images/Arrow@1X.png);
    width: 7px;
    height: 10px;
    display: inline-block;
    margin-left: 15px;
}

a {
    display: block;
}

.card_image:hover > .image_price {
    display: flex;
}

.main_cards:hover > .card_title > a {
    color: #F26522;
}

