
.container {
    margin: 0 auto;
}

.header {
  max-width: 1000px;
  min-width: 750px;
  height: 240px;
  margin: 0 auto;
  background-color: #2D7053;
}

.example {
width: 142px;
height: 142px;
background-color: #FFFFFF;
border-radius: 100%;
display: inline-block;
margin-top: 46px;
margin-left: 4rem;
}

.text {
    font-size: 30px;
    color: #FFFFFF;
    background: none;
    display: inline-block;
    margin-left: 70px;
}

.header_menu {
    display: inline-block;
    margin-left: 400px;
    margin-bottom: 2.3rem;
}

.line1 {
    width: 85px;
    height: 13px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.line2 {
    width: 85px;
    height: 13px;
    background-color: white;
    border-radius: 20px;
    margin: 10px; 
}

.line3 {
    width: 85px;
    height: 13px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

body {
    font-family: 'AdobeInvisFont', 'MyriadPro-Regular';
    font-size: 24px;
    color: #000000;
}

.image {
    text-align: center;
}
.black_rect {
    width: 1000px;
    height: 550px;
    background-color: black;
    opacity: 0.4;
    margin: 0 auto;
    margin-top: -34.6rem;
}

.fig {
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    color: white;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 23px;


}


.circle {
    width: 247px;
    height: 247px;
    background-color: black;
    border-radius: 100%;
    background-image: url(/Lesson3/images/154-9254@1X.png);
    margin-left: 39rem;
    margin-top: 6rem;
    }

.text_3 {
    font-size: 36px;
    margin-top: -11.5rem;
    margin-left: 62.3rem;
}

.text_4 {
    font-family: 'AdobeInvisFont', 'MyriadPro-Regular';
    font-size: 24px;
    color: #000000;
    margin-left: 62.4rem;
    margin-top: -2.4rem;
}

.text_5 {
    margin-left: 38.5rem;
    margin-top: 8rem;

}
.text_6 {   
    font-size: 36px;
    margin-top: 2.5rem;
    margin-left: 38.3rem;
}

ul.dashed {
    list-style-type: none;
    margin-left: 36.3rem;
    margin-top: -0.5rem;
}

ul.dashed > li::before {
    content: "-";
}

.rect_orange2 {
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    margin-top: 3rem;
    margin-left: 47.5rem;
    position: absolute;
}

.text_7 {
    color: white;
    text-align: center;
    margin-top: 4.5rem;
    margin-left: 49.3rem;
    position: absolute;
}

.footer {
    max-width: 1000px;
    min-width: 750px;
    height: 156px;
    margin: 0 auto;
    margin-top: 14rem;
    background-color: #888888;
}

.logo {
    width: 99px;
height: 99px;
background-color: #FFFFFF;
border-radius: 100%;
display: inline-block;
margin-top: 31px;
    margin-left: 5rem;
}

.number {
    font-size: 18px;
    color: white;
    margin-top: -76px;
    margin-left: 49rem;
}

.adress {
    font-size: 18px;
    color: white;
    margin-top: 22px;
    margin-left: 27rem;
}

.email {
    font-size: 18px;
    color: white;
    margin-top: -21px;
    margin-left: 48.6rem;
}